.AppHeader {
    background-color: rgb(50, 50, 51);
    color: white;
    height: 48px;

    position: -webkit-sticky;
    position: sticky;

    top: 0px;
    /* bottom: 48px; */

    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: h */
}